.box1 {
    width: 40px;
    height: 40px;
    background-color: red;
    margin: 80px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.box2 {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 40px 0 0 40px;
}

.text::before {
    content: 'html5';
    display: block;
}

.text::after {
    content: 'css3';
    display: block;
}

.box3 {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    margin-left: calc(50% - 20px);
}